.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 999;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  width: 80%;
  max-width: 600px; 
  max-height: 80vh; /* Limit height for mobile screens */
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}


.modal-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .modal-content {
    width: 95%; 
    max-height: 90vh; 
    overflow-y: auto; 
  }
}
